@include border-box-sizing;

.site-content {
    @include container;
    padding: 1em;


    #primary {

        &.full-width-content {
            @include span(12 last);
        }


        @media screen and ( min-width: $query__mobile ) {
            @include span(8 last);
        }

        .entry-content {
            @include container;

            .contact_info {
                border-bottom: 1px solid $color__rmci-gray;

                @media screen and ( min-width: $query__mobile ) {
                    @include span(6);
                    border-bottom: none;
                }

                section {
                    margin-bottom: 2em;
                }
            }

            .wpcf7 {

                @media screen and ( min-width: $query__mobile ) {
                    @include span(6 last);
                }

                input:not([type='submit']) {
                    max-width: 100%;
                }

                .wpcf7-submit {
                    display: block;
                    width: 100%;
                    color: #fff;
                    background-color: $color__rmci-red;
                    font-size: 1.25em;
                    padding: 0.5em 1em;

                    @media screen and ( min-width: $query__iphone-landscape ) {
                        float: right;
                        width: auto;
                    }
                }
            }
        }
    }

    #secondary {

        @media screen and ( min-width: $query__mobile ) {
            @include span(4);
        }
    }
}
